#color{
	background-color: white;
}

#container{
	width: 1080px;
	text-align: center;
	background-color: white;
	border-style: solid;
	border-color: #DDDDDD;
	border-width: 3px;
}

#top-bar{
	height: 145px;
	background-image: url("Top-Bar.png");
}

#username{
	text-align: center;
	font-size: 50px;
	padding-right: 700px;
	padding-top: 40px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#follower-count{
	height: 355px;
	background-image: url("Follower-Count.png");
}

#bio{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#profile-picture{

	height: 270px;
	width: 270px;
	margin-top: 50px;
	margin-right: 704px;
}

#text{
	font-size: 25px;
}

#photo-bar{
	height: 140px;
	background-image: url("Photo-Bar.png");
}

#ig-image{
	height: 350px;
	width: 350px;
}

#bottom-bar{
	height: 135px;
	background-image: url("Bottom-Bar.png");
}